<p id="notice"><%= notice %></p>

<h1>Scaffolds</h1>

<table>
  <thead>
    <tr>
      <th>Review</th>
      <th>Product</th>
      <th>User</th>
      <th>Rating</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @scaffolds.each do |scaffold| %>
      <tr>
        <td><%= scaffold.review %></td>
        <td><%= scaffold.product_id %></td>
        <td><%= scaffold.user_id %></td>
        <td><%= scaffold.rating %></td>
        <td><%= scaffold.description %></td>
        <td><%= link_to 'Show', scaffold %></td>
        <td><%= link_to 'Edit', edit_scaffold_path(scaffold) %></td>
        <td><%= link_to 'Destroy', scaffold, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Scaffold', new_scaffold_path %>
